h2 {
    margin-bottom: 0px;
}

h5 {
    margin-top: 0.1em;
}

.post-title a {
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: underline;
}

.post-blurb a {
    color: #6e655e;
    text-decoration: none;
}

.post-blurb a:hover {
    text-decoration: underline;
}
