h1, h2, h3 {
    border-bottom: 0.08em solid #eee8d5;
}

.img-right {
    float: right;
    margin-left: 0.5em;
}

.img-left {
    float: left;
    margin-right: 0.5em;
}

.table-wrapper {
    overflow: auto;
}

table {
    width: 100%;
    font-size: 1em;
    outline: none;
    border-spacing: 0px;
}

tr.odd {
    background-color: #eee8d5;
}

th {
    color: #586e75;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

div.small {
    width: 60%;
}

div.medium {
    width: 75%;
}

div.large {
    width: 100%;
}

div.font_normal table {
    font-size: 1em;
}

pre {
    font-family: monospace;
    line-height: 1.2;
    overflow-x: auto;
    background-color: #eee8d5;
    padding: 0.2em;
    border-radius: 3px;
}

code {
    font-size: 0.85em;
    font-family: monospace;
}

p code {
    background-color: #eee8d5;
    padding: 0em 0.2em;
    border-radius: 3px;
}
